@using Lanches.Domain.Entities;
@model Item

<div class="col-sm-4 col-md-4 col-lg-4">
    <p><img class="img-fluid" src="@Model.ImagemUrl" /></p>
    <h3>Preço: @Model.Preco.ToString("c")</h3>
    <h4>@Model.Nome</h4>
    <p>@Model.DescricaoCurta</p>
</div>